{% extends "auctions/layout.html" %}

{% block body %}
    <h2 style="color: beige;">Active Listings</h2>
    <div>
        <form action="{% url 'category' %}" method="GET">
            <div class="form-group">
                <label for="sel1">category:</label>
                <select class="form-control" id="sel1" name="cate">
                    {% for category in categories%}
                  <option value="{{category}}">{{category}}</option>
                  {%endfor%}
                </select><br>
                <input class="btn btn-primary" type="submit" value="submit">
        </form>
        {%for bid in bidlist %}
        <a href="{{bid.id}}">
            <div id="box"">
                <div style="text-align: right;display: inline-block;width: 50%;border-radius: 5px;"><h3>{{bid.title}} </h3>
                    <h6 style="color: brown;">PRICE: $ {{bid.cbid}}</h6></div>
                    <div style="text-align: left;display: inline-block;width: 50%;">
                    <img src="{{bid.img}}" alt="{{bid.title}}" style="width: 200px;"></div>
            </div>
        </a>
        {%endfor%}
    </div>
    TODO
{% endblock %}